<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <title>Main</title>
</head>
<style>
    html{
    background-color: rgb(46, 82, 108);
}

a{
    color: rgb(0, 0, 0);
}
</style>
<body>
    {% block content %}
    <p><h1>Всем привет!</h1></p>
    <p>
        <button><a href ="/students">Список всех студентов</a></button><br>
        <button><a href ="/login">Авторизация</a></button><br>
        <button><a href ="/register">Регистрация</a></button>
    </p>
    {% endblock %}
</body>
</html>
